@charset "UTF-8";
/* .communicationTitleContainer */
	.communicationTitleContainer {	    
	    margin: 40px 0 20px;
	    padding-left: 50px;
	    
	    background: rgba(255, 255, 255, 0.9);
	    
	    border-radius: 20px;
	}
	
	.communicationTitleContainer h1 {
	    font-size: 2em;
	}
	
	.communicationTitleContainer p {
	    font-size: 1.2em;
	}


/* .communicationWrap */
	.communicationWrap {
	    width: 100%;
	    height: 580px;
	    
	    padding: 30px;
	    
	    border-radius: 30px;
	    
	    display: flex;
	    flex-flow: column wrap;
	    align-items: center;
	}


/* .boardContainer */
	.communicationWrap .boardContainer {
	    width: 100%;
	    height: 367px;
	    
	    padding: 30px 30px 5px;
	    margin-bottom: 15px;
	    
	    font-weight: 100;
	    
	    border-radius: 20px;
	    
	    display: flex;
	    justify-content: center;
	    
	    background-color: rgba(255, 255, 255, 0.9);
	}

/* th.title */
	.communicationWrap .boardContainer tr.title {
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.communicationWrap .boardContainer tr.title th {
		font-size: 1.1em;
	}

	.communicationWrap .boardContainer tr.title th:nth-child(1) {
	    width: 90px;
	}
	
	.communicationWrap .boardContainer tr.title th:nth-child(2) {
	    width: 140px;
	}
	
	.communicationWrap .boardContainer tr.title th:nth-child(3) {
	    width: 400px;
	}
	
	.communicationWrap .boardContainer tr.title th:nth-child(4) {
	    width: 120px;
	}
	
	.communicationWrap .boardContainer tr.title th:nth-child(5) {
	    width: 100px;
	}

/* tr */
	.communicationWrap .boardContainer .content,
	.communicationWrap .boardContainer .content a,
	.communicationWrap .boardContainer .content td {
	    color: #000;
	    transition: 0.3s;
	}
	
	.communicationWrap .boardContainer .content td span {
		color: #ff0058;
	}
	
	.communicationWrap .boardContainer .content td a span {
		color: #ff0058;
	}
	
	.communicationWrap .boardContainer .content:hover * {
	    color: #ff0058;
	}

/* td */            
	.communicationWrap .boardContainer tr.border td {
	    width: 100%;
	    height: 15px;
	    
	    border-top: 1px solid #000;
	}

	.communicationWrap .boardContainer tr td {
	    text-align: center;
	    line-height: 27px;
	    
	    padding: 0 5px;
	}

/* .pageContainer */
	.communicationWrap .pageContainer {
	    width: 500px;
	    height: 50px;
	    
	    background: rgba(255, 255, 255, 0.9);
	    
	    border-radius: 10px;
	    
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	
	.communicationWrap .pageContainer .page {
	    transition: 0.3s;
	}
	
	.communicationWrap .pageContainer .page:hover {
	    color: #03a9f4;
	    
	    cursor: pointer;
	}
	
	.communicationWrap .pageContainer .currentPage {
	    color: #ff0058;
	    
	    cursor: default;
	}
	
	.communicationWrap .pageContainer .boundary {
		margin: 0 10px;
	    cursor: default;
	}

/* .buttonContainer */
	.communicationWrap .buttonContainer {
	    margin-top: 30px;
	    
	    width: 500px;
	    
	    display: flex;
	    justify-content: center;
	}
	
	.communicationWrap .buttonContainer input {
	    width: 150px;
	    
	    font-size: 1.1em;
	    
	    padding: 10px 20px;
	    
	    border: none;
	    border-radius: 10px;
	    
	    background: #03a9f4;
	    
	    transition: 0.5s;
	}
	
	.communicationWrap .buttonContainer input:hover {
	    background: #ff0058;
	    color: #fff;
	    
	    cursor: pointer;
	}