@charset "UTF-8";

/* header */
    header {
        display: flex;
        flex-flow: row wrap;
    }
    
    .logoFont {
        
        font-size: 50px;
        font-weight: bolder;
    }
    
    header .logo {
        width: 100%;
        height: 100px;
        
        display: flex;
        justify-content: center;
    }
    
    header .logo a {
    	text-align: center;
    	line-height: 100px;
    	
    	text-shadow: 0 2px 2px #333;
    }
    
    
/* 메뉴 & 멤버 메뉴 */
    /* 메뉴 */
    nav {
        margin-bottom: 20px;
        
        border: 1px solid black;
        border-radius: 20px;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    nav .mainMenu {
        font-size: 30px;
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        
        height: 75px;
    }
    
    nav .mainMenu li {
        list-style: none;
        
        padding-left: 50px;
    }
    
    nav .mainMenu li a {
    	line-height: 30px;
    	
    	text-decoration: none;
	    color: black;
	    
	    transition: color 0.5s;
   	}
	
	nav .mainMenu a:hover {
	    color: #ff0058;
	}
   	
    
    /* 멤버 메뉴 */
    nav .memberMenu {
    	max-width: 260px;
    	
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: center;
    	align-items: center;
    }
    
    nav .memberMenu input {
        width: 80px;
        height: 30px;
        
        margin: 0 10px;
        
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
        
        background: #fff;
        
        cursor: pointer;
        
        font-weight: bolder;
    }
    
    nav .memberMenu p:nth-child(1) {
    	text-align: center;
    	width: 260px;
    }
    
    nav .memberMenu input.firstInput:hover {
        animation: trillToRight 0.3s;
    }
    
    @keyframes trillToRight {
        0% { }
        
        25% {
            transform: translateX(5px);
        }
        
        50% {
            transform: translateX(-5px);
        }
        
        100% {
            transform: translateX(0);
        }
    }
    
    nav .memberMenu input.secondInput:hover {
        animation: trillToLeft 0.3s;
    }
    
    @keyframes trillToLeft {
        0% { }
        
        25% {
            transform: translateX(-5px);
        }
        
        50% {
            transform: translateX(5px);
        }
        
        100% {
            transform: translateX(0);
        }
    }