@charset "UTF-8";

/* .questionTitleContainer */
	.questionTitleContainer {	    
	    margin: 40px 0 20px;
	    padding-left: 50px;
	}
	
	.questionTitleContainer h1 {
	    font-size: 2em;
	}
	
	.questionTitleContainer p {
	    font-size: 1.2em;
	}


/* .questionContentsWrap */
    .questionContentsWrap {
        width: 100%;
        
        margin-top: 20px;
        padding: 30px;
        
        border-radius: 20px;
        
        box-shadow: 0 10px 10px 5px #999;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .questionContentsWrap * {
        font-weight: 100;
    }
    
    
/* .titleContainer */
    .questionContentsWrap .titleContainer {
        width: 100%;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    /* h1 */
    .questionContentsWrap .titleContainer h1 {
        width: 600px;
        
        margin-right: 50px;
        
        line-height: 68px;
        text-align: center;
        
        border-bottom: 1px solid #000;
        
        font-size: 1.5em;
    }
    
    /* .infoTable */
    .questionContentsWrap .titleContainer {
        margin-bottom: 30px;
    }
    
    .questionContentsWrap .titleContainer table.infoTable tr th {
        width: 60px;
        text-align: center;
        margin: 0 10px;
    }
    
    .questionContentsWrap .titleContainer table.infoTable tr td {
        width: 200px;
        text-align: center;
        margin: 0 10px;
    }
    
    
/* .contentsContainer */
    .questionContentsWrap .contentsContainer {
        width: 900px;
        
    }
    
    .questionContentsWrap .contentsContainer .contents {
        width: 800px;

		margin: 5px auto;         
        
        background: none;
        
        border: none;
        outline: none;
        
        resize: none;
    }
    
    
/* .optionButtonsContainer */
    .questionContentsWrap .optionButtonsContainer {
        width: 900px;
        
        margin: 20px 30px 60px;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    .questionContentsWrap .optionButtonsContainer input {
        width: 100px;
        
        padding: 10px;
        margin: 0 10px;
        
        border: none;
        border-radius: 10px;
        
        background: #03a9f4;
        
        transition: 0.5s;
    }
    
    .questionContentsWrap .optionButtonsContainer input:hover {
        background: #ff0058;
        color: #fff;
    }
    
    
/* .replyWriteContainer */
    .questionContentsWrap .replyWriteContainer {
        width: 900px;
    }
    
    /* .replyTextarea */
    .questionContentsWrap .replyWriteContainer textarea.replyTextarea {
        width: 100%;
        height: 70px;
        
        padding: 0 20px;
        
        border-top-left-radius: 15px;
        
        resize: none;
    }
    
    .questionContentsWrap .replyWriteContainer textarea.replyTextarea::placeholder {
        text-align: center;
        line-height: 68px;
    }
    
    /* .replyButtonContainer */
    .questionContentsWrap .replyWriteContainer .replyButtonContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    .questionContentsWrap .replyWriteContainer .replyButtonContainer .replyButton {
        padding: 5px 20px;
    }
    
    
/* .replyContainer */
	/* .reply */
    .questionContentsWrap .replyContainer .reply {
        width: 900px;
    }
    
    .questionContentsWrap .replyContainer .reply hr {
        margin: 30px 0;
        border: 1px dashed #aaa;
    }
    
    .questionContentsWrap .replyContainer .reply .replyTitleContainer {
        display: flex;
        
        margin-bottom: 20px;
    }
    
    .questionContentsWrap .replyContainer .reply .replyTitleContainer p {
        margin-right: 30px;
    }
    
    .questionContentsWrap .replyContainer .reply .replyTitleContainer p:nth-child(2) {
        color: #aaa;
        font-size: 0.8em;
        line-height: 20px;
    }
    
    .questionContentsWrap .replyContainer .reply .replyTitleContainer input {
        margin-right: 5px;
        font-size: 0.5em;
    }
    
    
/* .replyPageContainer */
    .questionContentsWrap .replyPageContainer {
        width: 900px;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        margin-top: 30px;
    }
    
    .questionContentsWrap .replyPageContainer p {
        margin: 0 5px;
    }
    
    
    /* 수정중 */
    /* .deleteConfirmContainer */
    .deleteConfirmContainer {
    	width: calc(100% + 40px);
    	height: 100%;
    	
    	position: absolute;
    	top: 0;
    	left: -20px;
    	
    	border-radius: 20px;
    	
    	background: rgba(0, 0, 0, 0.7);
    	
    	display: none;
    }
    
    .deleteConfirmContainer .innerContainer {
    	width: 300px;
    	
    	margin: 300px auto;
    	padding: 30px;
    	
    	border-radius: 20px;
    	
    	background: #fff;
    	
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: center;
    	
    	z-index: 1;
    }
    
    .deleteConfirmContainer .innerContainer h2,
    .deleteConfirmContainer .innerContainer p {
    	width: 100%;
    	
    	text-align: center;
    }
    
    .deleteConfirmContainer .innerContainer input {
    	font-size: 16px;
    	
    	padding: 5px 20px;
    	margin: 20px 5px 0;
    	
    	border: none;
    	border-radius: 10px;
    	outline: none;
    	
    	background: #03a9f4;
    	
    	cursor: pointer;
    	
    	transition: 0.3s;
    }
    
    .deleteConfirmContainer .innerContainer input:hover {
    	background: #ff0058;
    }
